.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 12px 20px;
    max-width: 100%;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-orange-color);
    box-shadow: var(--primary-purple-boxshadow);
    transition: all .3s linear;
    margin: 20px auto;
    max-width: fit-content;
}

.Button:hover {
    background-color: var(--primary-hover-orange-color);
}