@import './utils/reset.css';
@import './utils/fonts.css';
@import './utils/vars.css';
@import './utils/scroll.css';
@import 'antd/dist/antd.css';

body {
    font-family: 'Raleway';
    color: #282c30;
}

body._locked {
    overflow: hidden;
}


#root {
    min-width: 100%;
    min-height: 100%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    padding-left: 180px;
    padding-top: 80px;
    background: linear-gradient(180deg, #F6F7FB 75%, #E5DFFD);
}

.page-wrapper_admin {
    padding-left: 0;
}

@media screen and (max-width: 992px) {
    .page-wrapper {padding-bottom: 71px;}
}

@media screen and (max-width: 768px) {
    .page-wrapper {padding-bottom: 51px;}
}

.main {
    flex: 1;
}

.ant-select {
    font-weight: 700;
    font-size: 16px;
}

@media screen and (max-width: 992px) {
    .page-wrapper {
        padding-left: 0;
        padding-top: 60px;
    }
}

@media screen and (max-width: 576px) {
    .page-wrapper {
        padding-left: 0;
        padding-top: 50px;
    }
}
