.ContentWrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 180px;
    padding: 50px 20px;
    background-color: var(--primary-grey-color);
    box-shadow: var(--sidebar-content-wrapper-boxshadow);
    z-index: 999;
}

.Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.Item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    width: 90px;
    height: 90px;
    flex: 0 0 90px;
    border-radius: 10px;
    background-color: var(--primary-white-color);
    margin: 20px 0;
    cursor: pointer;
    z-index: 2;
    transition: all .3s linear;
}

.ItemLang {
    display: none;
}

.Item::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 0px solid var(--primary-orange-color);
	border-bottom: 15px solid transparent;
    transform: translate(100%, -50%);
    z-index: 0;
    transition: all .2s linear;
}

.ItemInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Item svg {
    font-size: 20px;
    color: var(--primary-light-purple-color);
    transition: all .3s linear;
}

.Item span {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    color: var(--primary-light-purple-color);
    transition: all .3s linear;
}

.ActiveItem {
    background: var(--primary-orange-color);
    box-shadow: var(--primary-purple-boxshadow);
    border-radius: 10px;
}

.ActiveItem::after {
    border-left: 15px solid var(--primary-orange-color);
}

.ActiveItem span {
    color: var(--primary-white-color);
}

.ActiveItem svg {
    color: var(--primary-white-color);
}

.Langs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.LangItemsBox {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid var(--primary-light-purple-color);
    margin-top: 15px;
    overflow: hidden;
    width: 100%;
    box-shadow: var(--primary-purple-boxshadow);
}

.LangItem {
    padding: 15px 5px;
    font-weight: 700;
    cursor: pointer;
    color: var(--primary-light-purple-color);
    text-align: center;
    border-top: 1px solid var(--primary-light-purple-color);
    transition: all .3s linear;
}

.ActiveLangItem {
    background-color: var(--primary-orange-color);
    color: var(--primary-white-color);
}

.LangItem:first-child {
    border: none;
}

@media screen and (max-width: 992px) {
    .ContentWrapper {
        padding: 0 30px;
        top: 100%;
        height: auto;
        width: 100%;
        transform: translate(0, -100%);
        box-shadow: none;
        border-top: 1px solid var(--primary-light-purple-color);
    }

    .ContentWrapper, .Menu, .LangItemsBox {
        flex-direction: row;
    }

    .ContentWrapper {
        justify-content: space-between;
        align-items: center;
    }

    .Menu {
        flex: 1;
        max-width: 480px;
        justify-content: space-between;
    }

    .Item {
        margin: 0 10px;
        width: 100px;
        height: 70px;
        flex: 0 0 100px;
        border-radius: 0;
    }

    .Item span {
        font-size: 14px;
    }

    .Item::after {
        top: 0;
        left: 50%;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 0 solid var(--primary-orange-color);
        transform: translate(-50%, -100%);
    }

    .ActiveItem::after {
        border-bottom: 15px solid var(--primary-orange-color);
    }

    .Langs {
        margin-top: 0;
    }

    .LangItemsBox {
        margin-top: 0;
    }

    .Langs span,
    .Langs svg {
        display: none;
    }

    .LangItem {
        border: none;
        min-width: 80px;
        border-left: 1px solid var(--primary-light-purple-color);
    }
}

@media screen and (max-width: 768px) {
    .ContentWrapper {
        padding: 0;
    }

    .Item {
        margin: 0;
        width: unset;
        height: 50px;
        flex: 0 0 calc(100% / 5);
        border-radius: 0;
        border-left: 1px solid var(--primary-light-purple-color);
    }

    .ItemLang {
        display: flex;
        position: relative;
    }

    .Item span {
        font-size: 9px;
        margin-top: 5px;
    }

    .Item svg {
        font-size: 16px;
    }

    .Langs {
        display: none;
    }

    .Menu {
        flex: 1;
        max-width: 100%;
        justify-content: space-between;
    }

    .Item::after {
        top: 0;
        left: 50%;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 0 solid var(--primary-orange-color);
        transform: translate(-50%, -100%);
    }

    .ActiveItem::after {
        border-bottom: 10px solid var(--primary-orange-color);
    }

    .MobileLangsItem {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 10px;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        border: 1px solid var(--primary-light-purple-color);
        width: 200px;
        transform: translate(100%, calc(-100% - 10px));
        transition: all .3s linear;
    }

    .MobileLangsItem .LangItem {
        border: none;
        border-top: 1px solid var(--primary-light-purple-color);
        background-color: var(--primary-white-color);
    }

    .MobileLangsItem .LangItem:first-child {
        border-top: none;
    }

    .MobileLangsItem .LangItem {
        border: none;
        border-top: 1px solid var(--primary-light-purple-color);
        background-color: var(--primary-white-color);
    }
    .MobileLangsItem .ActiveLangItem {
        background-color: var(--primary-orange-color);
    }


    .ActiveMobileLangsItem {
        opacity: 1;
        visibility: visible;
        transform: translate(-10px, calc(-100% - 10px));
    }
}